body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Argentum sans", sans-serif;
  row-gap: 5vh;
}

header {
  position: absolute;
  top: 5vh;
}

header h2 {
  font-weight: 600;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 3px; */
}
section .box {
  width: 100px;
  height: 100px;
  background: rgb(237, 249, 255);
  border: 1px solid rgb(135, 188, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-weight: 700;
  font-size: 4em;
  cursor: pointer;
}
section .box:hover {
  background: rgb(135, 188, 216);
}

.clear {
  position: absolute;
  bottom: 5vh;
  padding: 5px 12px;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}

.result {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000a8;
  color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  font-size: 2em;
  z-index: 100;
}

#close-result {
  padding: 4px 10px;
  cursor: pointer;
  background: firebrick;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  outline: none;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px 15px;
  align-items: center;
  margin-bottom: 20px;
  color: grey;
  /* margin-top: -10vh; */
}

.scoreboard h4 {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid grey;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.scoreboard div {
  display: flex;
}

.scoreboard div p {
  margin: 0;
}

.scoreboard div p span {
  color: black;
}

.scoreboard div p:first-child {
  padding-right: 10px;
  border-right: 2px solid grey;
  margin-right: 10px;
}
